<section id="{{ page.slug }}" class="produkts content-block"> 
  <div class="produkts-title">
    <h1>{{ page.title }}</h1>
    <span class="title-separator"></span>
    {% block content %}
        {{ page.content|raw }}
    {% endblock %}
  </div>
  <div class="carousel-wrapper">
    <div class="f-carousel carousel">
      {% for produkt in page.header.products %}
        <figure
            class="f-carousel__slide"
            data-fancybox="gallery"
            data-src="{{ page.media[produkt.image].url }}"
            data-thumb-src="{{ page.media[produkt.image].url }}"
            >
          <img
              data-lazy-src="{{ page.media[produkt.image].url }}"
              alt="{{ produkt.name }}"
              />
          <figcaption>
            {% if produkt.category %}<h4>{{ produkt.category }}</h4>{% endif %}
            <h4>{{ produkt.name }}</h4>
            {% if produkt.description %}
              <p>{{ produkt.description }}</p>
            {% endif %}
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>

</section>
